p{
    padding-left: 2%;
}

img{
    border: 1px solid #777;
}

.right{
    float: right;
    margin: 5px;
}

.left{
    float: left;
    margin: 5px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    padding-top: 3%;
    padding-left: 17%;
}

.content{
    max-width: 500px;
    margin-left: 10%;
    margin-right: 10%;
}

header{
    background-color: #4365bb;
    min-width: 200%;
    border-radius: 10px;
}

body{
    background-color: black;
    background-image: url(london22.webp);
    background-size: cover;
    background-attachment: fixed;
    color:white;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}